body {
  
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  color: white;
  
  text-decoration: none;
}
.background {
    background-image: url('../images/roomimages/aesthetic-room-decor.jpg'); /* For Laravel public/images/room.jpg */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.auth-buttons {
  margin-left: 10px;
  /* border: none; */
  border-radius: 10px;
  gap: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.auth-buttons .signup {
  padding-left: 20px;
  color: white;
}

.hero {
  background: url('https://source.unsplash.com/1600x500/?apartment,city') no-repeat center center/cover;
  color: black;
  padding: 200px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border: none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #00BFA6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.features,
.how-it-works,
.testimonial {
  padding: 60px 60px;
  text-align: center;
  color:black;
}

.feature-grid,
.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top:1px;
  flex-wrap: wrap;
}

.feature,
.step {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  font-size: 1.1em;
}

.testimonial p {
  font-size: 1.2em;
  font-style: Bold;
}
footer {
  background-color: #333;
  color: white;
  padding: 0px;
  width: 100%;
  height: 20px;
  text-align: center;
}

.footer-links a {
  color: #ddd;
  margin: 20 10px;
  text-decoration: none;
}